@import '~antd/dist/antd.css';
html,body,#app {
  width: 100%;
  height: 100%;
}
* {
  padding: 0;
  margin: 0;
  font-size: 14px;
}
li {
  list-style: none;
}
.mr-5 {
  margin-right: 5px;
}
.mr-10 {
  margin-right: 10px;
}
.font-20 {
  font-size: 20px;
  svg {
    font-size: 20px;
  }
}
.my-flex {
  display: flex;
  -webkit-display: flex;
}
.my-flex-1 {
  flex: 1;
  -webkit-flex: 1;
}
.y-center {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
.x-center {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}
.between {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.line-1 {
  word-break:keep-all;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis; 
}
.line-2 {
  overflow:hidden; 
  text-overflow:ellipsis;
  display:-webkit-box; 
  display:-ms-box; 
  display:-o-box; 
  display:-moz-box; 
  -webkit-box-orient:vertical;
  -ms-box-orient:vertical;
  -o-box-orient:vertical;
  -moz-box-orient:vertical;
  -webkit-line-clamp:2; 
  -ms-line-clamp:2; 
  -o-line-clamp:2; 
  -moz-line-clamp:2; 
}
#components-layout-demo-side .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  background: #fff;
}